services:
  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    ports:
      - "3005:3000"
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase_db
      MB_DB_PORT: 5432
      MB_DB_USER: metabase_user
      MB_DB_PASS: metabase_pass
      MB_DB_HOST: postgres
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: metabase_db
      POSTGRES_USER: metabase_user
      POSTGRES_PASSWORD: metabase_pass
    volumes:
      - pg_metabase_data:/var/lib/postgresql/data